
PORT=<add port here>
EMAIL=<add email for sender>
PASSWORD=<add password to email>

//auth
GOOGLE_CLIENT_ID=<add google client id here>
GOOGLE_CLIENT_SECRET=<add google client secret here>

//secret
JWT_ACCESS_SECRET=<add JWT access secret here>
JWT_REFRESH_SECRET=<add JWT refresh secret here>

//url
BASE_URL=<add base url here>
FRONTEND_URL=<add frontend urll here>
HOST_URI=<please insert here mongodb connect string>

